
@{
    ViewData["Title"] = "Empty";
}

<p>
    <a class="btn btn-success btn-left" asp-action="Create"><i class="fa fa-plus"></i> Create New</a>
</p>
<h4 class="emptyForm">No countries found in the Country List.</h4>

