<div class="row no-gutter">
    @for(int i=1; i<=6; i++)
    {
       <div class="col-xs-6 col-md-4">
           <a href="#" class="portfolio-box">
               <img src=@String.Format("~/Images/{0}.jpg",i) class="img-responsive" />
           </a>
       </div>
    }
</div>
