
@{
    ViewData["Title"] = "Empty";
    Layout = "~/Views/Shared/_Layout.cshtml";
} 

<p>
    <a class="btn btn-success btn-left" asp-action="Create"><i class="fa fa-plus"></i> Create New</a>
</p>
<h4 class="emptyForm">No states found in the State List.</h4>
