
@{
    ViewData["Title"] = "Empty";
}

<p>
    <a class="btn btn-success btn-left" asp-action="AddContact"><i class="fa fa-plus"></i> Create New</a>
</p>
<h4 class="emptyForm">No contacts found in the Contact List.</h4>

